# API Keys
OPENAI_API_KEY=your_openai_api_key_here

# Persistence
DATABASE_URL=postgresql+asyncpg://{YOUR_DB_USERNAME}:{YOUR_DB_PASS}@localhost:5432/doc_qa_db
VECTOR_STORE_PATH=./data/vector_store

# Service Config
INGESTION_SERVICE_PORT=8001
QUERY_SERVICE_PORT=8002
